/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main */

html {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: radial-gradient(rgb(96, 86, 86), rgb(99, 84, 84));
}

body {
  margin: 0;
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 30px;
  background-image: linear-gradient(#204720, #245224);
  box-shadow: 0 0 10px 0 black;
  padding: 5px 10px;
}

.left-header {
  margin-right: auto;
}

.middle-header {
  font-size: 30px;
  text-shadow: 0 0 7px whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

.right-header {
  margin-left: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Visualizer */

.visualizer-container {
  display: flex;
  margin: 40px auto 0px;
  
  border-radius: 25px;
  background-image: radial-gradient(rgb(54, 54, 81), rgb(31, 31, 40));
  
  box-shadow: 0 0 10px 0 black;
  
  width: 1500px;
  height: 600px; 
}

.bar-container {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: auto;
  
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  border-radius: 25px;
  
  box-shadow: 0 0 5px 0 whitesmoke;
  
  gap: 1px;

  height: 90%;
  width: 95%;
  
  background-image: linear-gradient(rgb(188, 166, 166), rgb(162, 136, 136));
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Inputs */

.inputs {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

#button-extra, #button-visualize, #button-reset {
  color: white;
  font-size: 25px;
  text-shadow: 0 0 2px white;
  border: solid rgb(0, 0, 150) 1px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(73, 73, 155), rgb(79, 79, 216));
  box-shadow: 0 0 10px 0 black;
  height: 60px;
  width: 240px;
  cursor: pointer;
}

#button-extra{
  display: flex;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
}

.button-right {
  margin-left: auto;
  margin-top: 5px;
  margin-right: 5px;
  justify-content: center;
}

.dropdown-items {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  margin-top: 65px;
  color: black;
  padding: 10px;
  width: 220px;
  border-radius: 25px;
  background-image: radial-gradient(white, rgb(232, 211, 211, 0.6));
  position: absolute;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px;
  top:100%;
  z-index: 1;
}

.dropdown-item:hover {
  border-radius: 20px;
  border: rgb(177, 177, 177);
  background-image: linear-gradient(rgb(255, 231, 231), rgba(220, 220, 220, 0.6));
  cursor: pointer;
}

#button-visualize {
  border: solid rgb(150, 0, 0) 1px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(181, 52, 52), rgb(167, 16, 16));
  width: 240px;
  height: 70px;
}

#button-visualize:hover {
  background-image: linear-gradient(rgb(140, 0, 0), rgb(99, 0, 0));
} 

#button-extra:hover, #button-reset:hover {
  background-image: linear-gradient(rgb(30, 30, 189), rgb(30, 30, 181));

}

.numberInputs {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#n-bars, #min, #max, #width, #speed {
  margin-left: 5px;
  margin-right: 50px;
}

.display-values-container {
  display: flex;
  position: relative;
  height: 50px;
  width: 200px;
  background-image: radial-gradient(rgb(28, 104, 28), green);
  box-shadow: 0 0 10px 0 black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bar */

.bar {
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
}



